<!DOCTYPE html>
<html>
<head>
    <title>Туризм</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/w3.css' %}">
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
</head>
<body>
    <nav class="w3-sidenav w3-collapse w3-white w3-card-2 w3-animate-left" style="width: 200px;" id="sidenav">
        <a href="javascript:void(0)" onclick="w3_close()" class="w3-closenav w3-large w3-hide-large">
            Закрыть &times;
        </a>
        <a href="/">Главная страница</a>
        <a href="/info">Информация</a>
        <a href="/trips">Походы</a>
    </nav>

    <div class="w3-main" style="margin-left:200px;">
        <header class="w3-container w3-white">
            <span class="w3-opennav w3-xlarge w3-hide-large" onclick="w3_open()">&#9776;</span>
            <section class="w3-container" style="display: inline;">
                <img src="{% static 'img/logo.png' %}" style="float: left; max-width: 65px;" alt="logo">
                <h2 align="center" style="float: left; margin-left: 5px;">Туристические походы</h2>
            </section>
        </header>

        <section class="w3-container">
            <h1 class="w3-center">Регистрация</h1>
            <div class="w3-center">
              <form  method="POST" id="testform">
                    {% if form.errors %}
                      {% for field in form %}
                        {% for error in field.errors %}
                          <p style="color: crimson"> {{ error }} </p>
                        {% endfor %}
                      {% endfor %}
                    {% endif %}
                    {% csrf_token %}
                    {% for field in form %}
                      <div class="formfield w3-inline">
                          {% if field.help_text %}
                            <p class="w3-small">{{ field.help_text }}:</p>
                          {% endif %}
                          {{field}}
                      </div>
                    {% endfor %}
                    <div class="w3-container">
                        <input type="submit" class="w3-btn w3-green w3-margin" value="Зарегистрироваться" />
                        <article id="id02" class="w3-modal">
                            <section class="w3-modal-content w3-animate-zoom">
                                <span onclick="document.getElementById('id02').style.display='none'" class="w3-closebtn">&times;</span>
                                <h2 class="w3-text-green">Вы успешно зарегистрированы!</h2>
                            </section>
                        </article>
                    </div>
              </form>
            </div>
        </section>
        <footer class="w3-container w3-white w3-center">
            <h5>Борщев К. Ю. </h5>
            <p>2024. Все права защищены.</p>
        </footer>
    </div>

    <script>
        function btn_open(id) {
            document.getElementById('id01').style.display = 'none'
            document.getElementById('id02').style.display = 'none'
            document.getElementById('id03').style.display = 'none'
            document.getElementById(id).style.display = 'block';
        }

        function w3_open() {
            document.getElementById("sidenav").style.display = "block";
        }

        function w3_close() {
            document.getElementById("sidenav").style.display = "none";
        }
        
        function restrictInput(event) {
            const allowedKeys = ['0', '1', '2', '3', '4', '5', '6', '7', '8', '9', '+', 'F5', 'ArrowRight', 'ArrowLeft'];
            if (!allowedKeys.includes(event.key)) {
                event.preventDefault();
            }

            const inputField = event.target;
            if (inputField.value.startsWith('+') && event.key !== '7' && inputField.value.length == 1) {
                event.preventDefault(); 
            }

            if (inputField.value.length > 0 && event.key === '+') {
                event.preventDefault();
            }
        }

        function selectAllText(event) {
            if (event.ctrlKey && event.key === 'a') {
                event.target.select();
            }
        }

        function handleKeyDown(event) {
            if (event.key === 'Backspace' || event.key === 'Delete') {
                return true;
            }
            restrictInput(event);
            selectAllText(event);
        }
    </script>
</body>
</html>
